/* background and main stuff */

body {
/*  background: #FF774C;*/
}

#container {
  background: #A7CCF1;
  /* background: -webkit-gradient(linear, left top, left 30%, from(#024A68), to(#0772A1)); */
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  width: 700px;
}


/* header */

#header {
  padding: 25px 0;
}

#header h1 {
  display: inline;
  font-size: 4em;
}

#header h1 a {
  letter-spacing: -2px;
  text-decoration: none;
}

#nav {
  float: right;
  list-style-type: none;
  position: relative;
  top: 20px;
}

#nav li {
  float: left;
  margin: 0 10px;
}

/* font stuff */
h1 {
  font-weight: bold;
}
